body {
  background-color: rgb(0, 39, 58);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* @media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
} */

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.conteiner {
  align-items: center;
  background-image: url('trivia.png');
  background-repeat: no-repeat;
  background-size: 600px;
  display: flex;
  height: 200px;
  justify-content: center;
  margin: 40px 1px 50px 250px;
  padding: 50px;
}

#input-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 440px 270px 50px 20px;
  width: 150px;
}

.email-input, .name-input {
  background-color: rgb(220, 220, 221);
  border-radius: 30px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  margin-left: -30px;
  margin-top: 15px;
  padding: 10px 30px;
  width: 150px;
}

.play-button, .settings-button {
  background-color: rgb(220, 220, 221);
  border-radius: 30px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  font-family: nasalization , Verdana , Geneva , Tahoma , sans-serif;
  justify-items: center;
  margin-left: 25px;
  margin-top: 15px;
  padding: 10px 30px;
  text-align: center;
  width: 100px;
}

.settings-button {
  margin-left: -1px;
  width: 150px;
}

.play-button:hover, .settings-button:hover {
  background-color: rgb(189, 189, 189);
  transform: translate(-3px, -3px);
}

.email-input:hover, .name-input:hover {
  background-color: rgb(201, 201, 201);
  transform: translate(-3px, -3px);
  width: 160px;
}
